*{
    padding: 0;
    margin: 0;

}

#cart{
    width:30px;
}
#header{
    display: flex;
    justify-content: space-between;
}
#right{
    display: flex;
    align-items: center ;
}
#bg-img{
    background-image: url(./assets/kw-background.png) ;
    
    height: 63vh;
    background-size: 100vw 63vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    /* border: 1px solid blue; */
    /* padding: 20px; */
    background-repeat: no-repeat;
    padding-left: 50px;
    font-size: 28px;
}
.ima{
   
    height: 63vh;
    background-image:url(/assets/kw-background.png);
    background-repeat: no-repeat;
    
    background-size:contain;
    background-size:100vw 63vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: center;
    font-size: 28px;

}
img{
    width: 200px;
}
#books{
    display: flex;
    justify-content: space-evenly;
}
#games{
    display: flex;
    justify-content: space-evenly;

}
#arts{
    display: flex;
    justify-content: space-evenly;

}
#foot{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 30px;
}
.round{
    border-radius:50%;
}
.add{
    background-color:#6196FF;
    display: flex;
    width:50px;
    border-radius:5px;
}
.add img{
    width:20px;

}
.price{
    display: flex;
    justify-content: space-around;
}